.header-main{
  display: flex;
  height: 520px;
  background-color: #75c444;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */;
}

.header-visible{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  column-gap: 0px;
}

.name{
  font-family: 'Source Sans 3';
  color: white;
}