@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  .header-main {
    display: flex;
    margin: 1em;
    flex: 1;
    margin-top: 7.5em;
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  .new-tweet {
    display: flex;
    margin-top: 5em;
  }

  #tweet-text{
    width: 686px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .new-tweet {
    display: flex;
  }

  #tweet-text{
    width: 514.56px;
  }
}