.posted-tweets{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Source Sans 3';
  margin: 1.5em;
}

.tweet{
  border: 3px;
  border-style: solid;
  width: 100%;
  margin: 1em;
  transition: box-shadow 0.3s ease-in-out;
}

.tweet:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

article.tweet header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Name*/
article.tweet h3{
  color: inherit;
  margin-left: 1em;
  font-weight: 500;
}

/*Avatar*/
.avatar{
  display: flex; 
  margin-left: 1em;
}

/*Handle*/
article.tweet h4{
  display: flex;
  margin-right:1em;
  margin-left: auto;
  opacity: .5;
}

/*tweet content*/
article.tweet p{
  display: flex;
  justify-content: flex-start;
  margin: 1em;
  border: none;
  border-bottom: 3px solid black;
  font-weight: 700;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: medium;
  margin: 1em;
}

article.tweet footer .timestamp {
  margin-left: 1em;
  margin-right: auto;
  display: flex;
  color: black;
  font-weight: 600;
}

article.tweet i {
  margin-right: 1em;
  display: flex;
  color: darkblue;
}

article.tweet i:hover {
  color: orange; 
}